// Page Top

.page-top {
  padding: .5em 1em;
  background: $dark-gray;

  // Top-right navigation links

  .support,
  .user {
    padding: 0 0 0 1em;

    & > a:hover {
      color: white;
    }
  }

  .user > a {
    &:after {
      content: " ▸";
    }

    &.is-selected {
      color: white;

      &:after {
        content: " ▾";
      }
    }
  }

  // Top-right dropdown menu

  .user-dropdown {
    @include transition(all .25s ease-in-out);
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    background: white;
    position: absolute;
    right: .2em;
    top: 2.5em;
    width: 150px;
    text-align: left;
    padding: .25em 0;
    z-index: 1;
    border: $base-border;
    border-top: none;
    border-radius: 0 0 $base-border-radius $base-border-radius;

    li,
    a {
      display: block;
    }

    a {
      padding: .25em .8em;

      &:hover {
        background: lighten($base-border-color, 13);
      }
    }

    &.is-visible {
      max-height: 150px;
      opacity: 1;
    }
  }

  // timely announcement box along the top

  .feature a {
    @extend %button;
    background: rgba($blue, .4);
    color: $blue;
    text-transform: none;
    font-weight: 500;
  }

  // The logo

  .logo a {
    background: url('/images/logo.svg') no-repeat;
    display: block;
    text-indent: -999em;
    margin: 0 auto;
    width: 100px;
  }

  // Hide the top stuff on small screens

  @include media(max-width $medium-screen) {
    .support,
    .user,
    .feature {
      display: none;
    }
  }

  // Reposition things for larger screens

  @include media($medium-screen) {
    text-align: right;

    .logo a {
      text-align: left;
      float: left;
    }
    
    li {
      display: inline-block;
    }

    .logo,
    .feature {
      display: inline;
    }

    .feature a {
      float: left;
    }
  }
}

// The nav button on small screens (mention 'body' to override inlines)

body .open-nav {
  @include media(max-width $medium-screen) {
    display: block;
    position: absolute;
    font-size: em(25);
    top: 2px;
    left: .55em;
  }

  @include media($medium-screen) {
    display: none;
  }
}
